name: Publicacion Automatica

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Build Android APK
        run: flutter build apk --release
        
      - name: Build Windows executable
        run: |
          flutter config --enable-windows-desktop
          flutter build windows --release
          
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/app/outputs/flutter-apk/app-release.apk
            build/windows/runner/Release/eco_tracker_poc.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
